// Generate Duration && Delay
[data-ya] {
  @for $i from 1 through 60 {
    body[data-ya-duration='#{$i * 50}'] &,
    &[data-ya][data-ya-duration='#{$i * 50}'] {
      transition-duration: #{$i * 50}ms;
    }

    body[data-ya-delay='#{$i * 50}'] &,
    &[data-ya][data-ya-delay='#{$i * 50}'] {
      transition-delay: 0s;

      &.ya-animate {
        transition-delay: #{$i * 50}ms;
      }
    }
  }
}

[data-ya] {
  pointer-events: none;
  &.ya-animate {
    pointer-events: auto;
  }
}
